<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  You will get some help reading our primary book:
  <a href="https://pt.wikipedia.org/wiki/O_Lobo_da_Estepe">Der Steppenwolf</a>.
  For other explanations seek at the youtube about
  <a href="https://www.youtube.com/watch?v=5vP0TgySfnQ"><em>The gabirus alados</em>
  guild</a>.
</p>
