<footer class="footer">
  <small>
    The online Magic Theater
    by <a href="https://github.com/Heirian">Thor dos Gabiru</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</footer>
